
/*
.nav_bar {
  display:flex;
  justify-content: right;
}
.choix
{
 display:flex;
 justify-content: right;
 position: absolute;
 right: 0%
}
.title_bar {
  background-color: white;
  padding: 0px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid grey;
  white-space:nowrap;
}
.btn_header {
  color: black;
  border: 1px solid white;
  padding: 12px 40px 0px 0px;
  margin: 4px;
  width: 20%;
  list-style-type:none;
}
.musipsum{
  text-decoration: none;
  width: 9%;
  margin-right: 48%;
  color: #194E6E;
  font-size: 1.4em;
}
.a_propos_header{
  width: 13%;
  text-decoration: none;
}*/
/*
.sucess_stories
{
  width: 225px;
  text-decoration: none;
}
.nous_contacter{
  width: 250px;
}
.start_test{
  width: 265px;
}
.connexion{
  width: 180px;
}*/
.titre_principal_a_propos
{
 padding-left: 43%;
}
.premiere_ligne_body
{
 margin-top: 7%;
 display:flex;
 flex-wrap:wrap;
 padding-left: 4%;
}
.deuxieme_ligne_body
{
 margin-top: 0%;
 display:flex;
 flex-wrap:wrap;
 padding-left: 4%;
}
.bordure_souris_body,.bordure_stat_body,.bordure_profils_body
{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-color: transparent ;
 border-width: medium;
 border-style: groove;
 width: 30%;
 height: 250px;
}
.bordure_voiture_body,.bordure_permis_body,.bordure_like_body
{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-color: transparent;
 border-width: medium;
 border-style: groove;
 width: 30%;
 height: 250px;
}
.a_propos_image_souris,.a_propos_image_stat,.a_propos_image_profils,.a_propos_image_voiture,.a_propos_image_permis,.a_propos_image_like
{
 position: relative;
 top:20%;
 border-color: transparent;
 border-width: medium;
 border-style: groove;
 width: 50%;
 height: 150px;
}
.image_souris,.image_stat,.image_profil,.image_voiture,.image_permis,.image_like
{
 width: 40px;;
 height: 40px;
}
.titre_texte_a_propos
{
 font-weight: bold;
 font-size: 18px;
}