RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/?([a-zA-Z]+)/?$ index.php?link=$1 [L]
RewriteRule ^/?([a-zA-Z]+)/([a-zA-Z]+)/?$ index.php?link=$1&ref=$2 [L]
RewriteRule ^/?([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)/?$ index.php?link=$1&ref=$2&search=$3 [L]

