
.adresse_img .horaires_img .telephone_img {
	float: left;
}


img {
	vertical-align: middle;
}

.icone_button_contact {
	height: 50px;
	width: auto;
}

.icone_envoi {
	position: relative;
	left: 78%;
}

