.btn_save {
    position: relative;
    text-decoration:none;
    color: white;
    background-color: dodgerblue;
    opacity: 0.8;
    border: dodgerblue;
    width: 15%;
    left: 76%;
    bottom: 20%;
    font-size: 1.1em;
    padding:10px;
}

.form{
    border: none;
}

.fieldset{
    border: none;
    color: dodgerblue;
    text-decoration-color: blue;
    width: 55%;
    margin-left: 4%;
    height: 55.6%;
}

#name{
    margin-bottom: 3%;
}

.contact_agence, .identif {
    padding: 10px;
    margin-top: 8px;
}

@media screen and (max-width: 999px) {
    #info_personnelles {
        position: relative;
        left:330px
    }
}



@media screen and (min-width: 1000px) {
    #info_personnelles {
    display: inline-block;
    height: 100%;
    width: 100%;
    }

    #contact{
        width: 50%;
        display: inline-block;
        position: relative;
        bottom: 210px;
        left: 110%;
    } 
    #tel_agence {
    margin-bottom: 28px;
    }
    #denomination {
        position: relative;
        left: 20%
    }
}
/*
*{
    background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}