@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}

header{
    margin-bottom: 3%;
}

.body{
  	font-family: 'gotham_book', serif;
}

.account{
    padding-left: 3%;

}

.formulaires{
    float: right;
    display: inline-flex;
    margin-right: 65%;
    height: 10%;
}

.link{
    width: 5%;
    color: green;
    background-color: white;
    border: none;
    font-family: gotham_book, serif;
    cursor: pointer;
    position: relative;
    /*margin-right: 5%;
    margin-top: 0.2%;
    float: right;*/

}

button:focus{
    outline: 0;
}

.button-submit {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: gotham_book, sans-serif;
    /*input has OS specific font-family*/
    /*text-decoration: underline;*/
    cursor: pointer;


}
#modify{
    color: blue;
}
#delete{
    color: red;
}

.form-delete{
    padding-left: 60%;
}

.form-modify{
    padding-left: 30%;
}

.modify{
    /*display: flex;
    position: relative;*/
    color: blue;
}

.align{
    text-align: left;
}

@media screen and (max-width: 1300px) {
    .formulaires{
        margin-right: 50%;
    }

}
