body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}

.body{
    font-family: 'gotham_book', serif;
}

#password_block {
}

.password_content {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

#pass_block {
  width: fit-content;
  position: relative;
  left: 25%;
}

#img_password {
  position: relative;
  left: 46.5%;
  width: 45px;
  height: auto;
}

#password_input {
  position: relative;
  left: 33%;
  padding: 10px;
  margin-top: 25px;
}

#password_btn {
  position: relative;
  top: 50%;
  left: 35%;
  background-color: #66AFFD;
  padding: 10px;
  border: none;
  color: white;
}
