@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}

.police{
  	font-family: 'gotham_book', serif;
}
/*
.gerer_capteurs .gerer_cgu {
	display: inline-block;
	width: 50%;
}*/


.id_utilisateur{
	border: 2px solid black;
	margin-top: 3%;
	margin-left: 30%;
	margin-right: 25%;
}

.gerer_body {
	width: 100%;
	top: 5%;
}

.gerer_capteurs {
	width: 50%;
	display: inline-block;
	position: absolute;
}

.gerer_cgu {
	width: 50%;
	display: inline-block;
	position: absolute;
	left: 55%;
	top: 8%;
	height: 60%;
}

.input_range_range {
	display: inline-block;
	border: 0px solid;
}

.range_value {
	width: 15%;
	display: inline-block;
}


.titre_gerer {
	position: relative;
	left: 35%;
	width: 30%;
	height: 10%;
	background-color: #66AFFD;
	text-align: center;
	color: white;
	margin: 0px;
}

.titre_modif_cgu {
	color: #66AFFD;
}



.titre_id{
	display: flex;
	position: relative;
}

#nom_prenom{
	margin-top: 8%;
	margin-left: 25%;
	text-align: center;
	width: 360px;
	font-size: 30px;
}

.txt_id{
	display: flex;
	margin-left: 20%;
	flex-direction: column;
}

.div_txt_id_1{
	display: flex;
}

.txt_id_spe{
	font-weight: bold;
	font-size: 15px;
	width: 120px;
	text-align: right;
}

.txt_id_php{
	margin-left: 9%;
	border: 0.09px solid grey;
	width: 200px;

  padding: 1%;

}

.img_test{
	margin-top: 150%;
}

.bouton_resultat{

	margin-top: 1%;
	margin-left: 40%;

	border:none;
	padding:6px 0 6px 0;
	box-shadow:3px 3px 12px #999;
	font:bold 13px Arial;
	color:#555;
	background:pink;
	border-radius: 20px/20px;
	width: 250px;
}




input{

	margin-left: 84%;
	border:none;
  margin-bottom: 1%;

	padding:6px 0 6px 0;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
	border-radius: 10px/10px;
	width: 180px;
}


#modify_profil{
margin-top: 2%;
}


/*RESPONSIVE*/


@media screen and (max-width: 900px) {
  .body{
    width: auto;
  }
  #nom_prenom{
    margin-left: 10%;
  }

  .txt_id_php{
  	margin-right: 5%;
  }

  .txt_id_spe{

  	text-align: left;
  }

  input{
  	margin-left: 1%;
  }

}

@media screen and (min-width: 1800px) and (max-width: 2499px) {

}

@media screen and (min-width: 2500px) {

}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .body{
    width: auto;
  }

  #nom_prenom{
  	margin-left: 10%;
  }
  .txt_id_php{
    margin-right: 5%;
  }

  .txt_id_spe{
    text-align: left;
  }

  input{
    margin-left: 1%;
  }
}
