/*Footer page d'accueil*/

@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}

.footer_welcome {

	padding-top: 15px;
	width: 100%;
	padding-left: 0.5px;
	height: 304px;
}
/*
*{
	background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/



#nous_contacter_footer {
	width: 33%;
	display: inline-block;
	height: 304px;
	padding: 10px;
	border: 3px solid #66AFFD;
	border-radius: 3%;
}

#contact {
	font-family: 'gotham_book', serif;
	width:31%;
	display: inline-block;
	position: relative;
	left: 6.5%;
}

#about_footer {
	font-family: 'gotham_book', serif;
	width: 33%;
	height: 304px;
	display: inline-block;
	text-decoration-color: #66AFFD;
	border-top: 1px solid #66AFFD;
	position: relative;
}

.box_mail {
	padding: 2px;
	height: 65%;
}

.contact_msg {
	width: 99%;
	height: 95%
}


.horaires_img .adresse_img .telephone_img {
	font-family: 'gotham_book', serif;
	color: #66AFFD
}

.txt_about_title {
    position: relative;
    font-family: 'gotham_book', serif;
    /*
    background-color: #66AFFD;*/
    width: 100%;
    text-align: center;
    border-top: 2px solid #66AFFD;
    border-bottom: 2px solid #66AFFD;
    margin-top: 0em !important;
    margin-bottom: 2em !important;}


.footer_about_title {
	height: 21.6px;
	width: 100%;
}

.txt_about {
	color: black;

}


@media screen and (min-width: 1187px) and (max-width: 1500px) {
	#nous_contacter {
		padding-right: 0 !important;
	}
	#contact {
		height: 304px;
		bottom: 30px;
	}
	#about_footer {
		top: 10px;
	}
	.footer_welcome {
		padding-left: 0 !important;
	}
	#icone_envoi {
		position: relative;
	}
}
@media screen and (max-width: 1186px) {
	#nous_contacter_footer {
		width: 99% !important;
		padding-right: 0 !important;
		padding:0;
	}
	#contact {
		width: 95% !important;
		display: block !important;
		position: relative;
	}
	#about_footer {
		width: 100% !important;
		display: block !important;
	}
	.footer_welcome {
		padding-left: 0 !important;
	}
	.bloc_info_contact {
		display: inline-block;
		margin: 20px 15px 20px;
	}
	#icone_envoi {
		position: relative;
	}
}


@media screen and (min-width: 1501px) {
	#nous_contacter {
		padding-right: 0 !important;
	}
	#contact {
		right: 30%;
		bottom: 25px;
	}
	#about_footer {
		top: 15px;
	}
	.footer_welcome {
		padding-left: 0 !important;
	}
}