/*Footer page d'accueil*/

@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}

.footer_welcome {

	padding-top: 15px;
	width: 100%;
	padding-left: 0.5px;
	height: 304px;
}
/*
*{
	background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

.contact_txt {}

.nous_contacter {
	width: 33%;
	display: inline-block;
	height: 304px;
	padding: 10px;
	border: 3px solid #66AFFD;
	border-radius: 3%;
}

.contact {
	font-family: 'gotham_book', serif;
	width:33%;
	display: inline-block;
	position: relative;

}

.about_footer {
	font-family: 'gotham_book', serif;
	width: 33%;
	height: 304px;
	display: inline-block;
	text-decoration-color: #66AFFD;
	border-top: 1px solid #66AFFD;
}

.box_mail {
	padding: 2px;
	height: 65%;
}

.contact_msg {
	width: 99%;
	height: 95%
}


/*
input {
	font: 700 13.3333px Gotham;

}


::-webkit-input-placeholder {
	font: 700 13.3333px Arial;
	position: absolute;
	top: 5px;
	left: 5px;
}
*/

.horaires_img .adresse_img .telephone_img {
	font-family: 'gotham_book', serif;
	color: #66AFFD
}

.txt_about_title {
    position: relative;
    font-family: 'gotham_book', serif;
    /*
    background-color: #66AFFD;*/
    width: 100%;
    text-align: center;
    border-top: 2px solid #66AFFD;
    border-bottom: 2px solid #66AFFD;
    margin-top: 0em !important;
    margin-bottom: 2em !important;}


.footer_about_title {
	height: 21.6px;
	width: 100%;
}

.txt_about {
	color: black;

}

.img_contact {

}

@media screen and (min-width: 1001px) {
	.nous_contacter {
		position: absolute;
		padding-right: 0 !important;
	}
	.contact {
		position: absolute;
		left: 36.3%;
		height: 304px;
		right: 30%;
	}
	.about_footer {
		position: absolute;
		left: 66.6%;
	}
	.footer_welcome {
		padding-left: 0 !important;
	}
}
@media screen and (max-width: 1000px) {
	.nous_contacter {
		width: 99% !important;
		padding-right: 0 !important;
		padding:0;
	}
	.contact {
		width: 100% !important;
		display: block !important;
		position: relative;
		left: 9%;
	}
	.about_footer {
		width: 100% !important;
		display: block !important;
	}
	.footer_welcome {
		padding-left: 0 !important;
	}
	.bloc_info_contact {
		display: inline-block;
		margin: 20px 15px 20px;
	}
}
