
#title_bar {

}

.nav_bar {
  display:flex;
  justify-content: right;
}
.choix
{
 display:flex;
 justify-content: right;
 position: absolute;
 right: 0%
}
.title_bar {
  background-color: white;
  padding: 0px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid grey;
  white-space:nowrap;
  position: relative;
  top: 0%
}
.btn_header {
  color: black;
  border: 1px solid white;
  padding: 12px 40px 0px 0px;
  margin: 4px;
  width: 20%;
  list-style-type:none;
}
.musipsum{
  text-decoration: none;
  width: 9%;
  margin-right: 48%;
  color: #194E6E;
  font-size: 1.4em;
}
.a_propos_header{
  width: 13%;
  text-decoration: none;
}