@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}

.body {
	margin: 0px;
	font-family: 'gotham_book', serif;
}

button:focus, select:focus, textarea:focus, button:focus{
    outline: none;
}