
/*Header*/

/*
.title_bar {
	background-color: #ffffff;
	padding: 0px 0px 5px 0px;
	display: flex;
	flex-direction: row;
	border-bottom: 5px solid #194E6E;
}*/


.contact {
	display: flex;
	flex-direction: column;
	border-color: black;
}
/*
.contact_txt {
	padding-top: 30px;
	padding-right: 15px;
}*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 102px;
}

.send {
	position: relative;
    left: 78%;
    top: 5%;
    background-color: transparent;
    border: none;
    width: 12%;
    height: 15%;
    background-color: none;
    border: none;
}
/*
.icone_envoi {
    position: absolute;
    left: -5%;
    bottom: -8%;
}*/

@media screen and (max-width: 1280px){
    #footer_barre{
        visibility: hidden;
    }
}