
.su_st_body {
	
}

.su_st_p {
	display: inline-block;
}

.su_st_1 {
	width: 16.4%;
}

.su_st_2 {
	width: 16.4%;
}

.su_st_3 {
	width: 16.4%;
}

.su_st_4 {
	width: 16.4%;
}

.su_st_5 {
	width: 16.4%;
}

.su_st_6 {
	width: 16.4%;
}
