@media (max-width : 700px)
{
    .su_st_p {
    
        display: block;
    }

    .img_su_st_voiture {
        display: block;
    }
    
    .img_su_st_vahmat {
       display:block;
    }
    
    .img_su_st_inf_mea {
        display:block;
    }
}