/* Body */

@font-face {
    font-family: 'gotham_book';
    src:url('fonts/Gotham-Book.otf');
}

.body
{
    font-family: 'gotham_book', serif;

}

.middlepage{
    display: flex;
}


.image_flottante{
    width: 85%;
    height: 85%;
    position:absolute;
    position: center;
    left: 5%;
    right: 10%;
}


.bonhomme{
    position: absolute;
    left: 44%;
    top: 30%;
    height: 80px;
}


.fleche{
    position: absolute;
    border: none;
    background-color: transparent;
    left: 76%;
    top: 64%;
    height: 20px;
}


.fleche:hover {
    cursor: pointer;
    outline: none;
}
*:focus {outline:none}

.Connexion{
    position:absolute;
    left: 42%;
    top: 45%;

    color: white;
    font-size: 30px;
    font-style: revert;
}

.status{
    position: absolute;
    top: 70%;
    left: 25%;
    color: red;
    font-size: 0.8em;
}

.mdp_oubli{
    position: absolute;
    color: white;
    font-style: revert;
    left: 63.45%;
    top: 71%;
    text-decoration: none;

}


.id_mail {
    position: absolute;
    left: 25%;
    top: 59%;
    width: 49%;
    height: 4%;

}




.id_mdp {
    position: absolute;
    left: 25%;
    top: 65%;
    width: 49%;
    height: 4%;

}

@media screen and (max-width: 850px){
    .mdp_oubli{
        position: absolute;
        left: 35%;
        top: 79%;
        font-size: 1.2em;
    }

    .fleche{
        position: absolute;
        top: 72%;
        left: 45%;
    }
}

@media screen and (max-width: 500px) {
    .mdp_oubli{
        position: absolute;
        left: 25%;
        top: 79%;
        font-size: 1.2em;
    }
}


