body {
	margin: 0px;
}

.bouton_play_img {
	width: 40%;
	height: auto;
	position: relative;
	top: 5%;
	left: 30%;
}

.recherche {
	position: absolute;
	top: 94%;
	height: 3%;
	width:99%; 
}

input[type=search] {
	text-align: center;
	background-color: ;
	width: 50%;
	height: 140%;
	font-size: 20px;
}


.icone_loupe {
	position: absolute;
	top: 8%;
	width: 2%;
	height: auto;
	left: 75%;
}

#search_barre {
	border-radius: 10px;
	position: relative;
	left: 25%;
}
