body {
	margin: 0px;
}

.bouton_play_img {
	width: 40%;
	height: auto;
	position: relative;
	top: 5%;
	left: 30%;
}

.recherche {
	position: absolute;
	top: 94%; /*94%*/
	height: 3%;
	width:80%; /*99%*/
}

input[type=text] {
	text-align: center;
	width: 50%;
	height: 140%;
	font-size: 20px;
}


.icone_loupe {
	position: absolute;
	top: 8%;
	width: 2%;
	height: auto;
	left: 75%;
}

#search_text {
	border-radius: 10px;
	position: absolute;
	left: 25%;
}

.result{
	background-color: #bbbbbb;
	position:absolute ;
	bottom: 5%;
	left: 10%;


}

.table_search{

	border: none;
	width: 50%;
}
.lines{
	border: none;
	width: 50%;
}
