@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}

.body{
  	font-family: 'gotham_book', serif;
}
.titre_principal_a_propos
{
 padding-left: 43%;
}
.premiere_ligne_body
{
 margin-top: 7%;
 display:flex;
 flex-wrap:wrap;
 padding-left: 4%;


}
.deuxieme_ligne_body
{
 margin-top: 0%;
 display:flex;
 flex-wrap:wrap;
 padding-left: 4%;
}
.bordure_souris_body,.bordure_stat_body,.bordure_profils_body
{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-color: transparent ;
 border-width: medium;
 border-style: groove;
 width: 30%;
 height: 250px;

}
.bordure_voiture_body,.bordure_permis_body,.bordure_like_body
{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-color: transparent;
 border-width: medium;
 border-style: groove;
 width: 30%;
 height: 250px;
}
.a_propos_image_souris,.a_propos_image_stat,.a_propos_image_profils,.a_propos_image_voiture,.a_propos_image_permis,.a_propos_image_like
{
 position: relative;
 top:20%;
 border-color: transparent;
 border-width: medium;
 border-style: groove;
 width: 50%;
 height: 150px;
}
.image_souris,.image_stat,.image_profil,.image_voiture,.image_permis,.image_like
{
 width: 40px;;
 height: 40px;
}
.titre_texte_a_propos
{
 font-weight: bold;
 font-size: 18px;
}

@media (max-width : 600px)
{
  .premiere_ligne_body{
    display: block;
  }

  .deuxieme_ligne_body{
    display: block;
  }
  .bordure_like_body{
    width: 100%;
  }
  .bordure_permis_body{
    width: 100%;
  }
  .bordure_profils_body{
    width: 100%;
  }
  .bordure_souris_body{
    width: 100%;
  }
  .bordure_stat_body{
    width: 100%;
  }
  .bordure_voiture_body{
    width: 100%;
  }
}
