@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}
/*
*{
	background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

.body_success_story{
		font-family: 'gotham_book', serif;
}

body {
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}

.paragraphe {
	border-right: 2px solid gray;
	padding-right: 2px;
}

#paragraphe_thomas {	
	border-right: 0px solid gray !important;
}

.all_sections {
	position: relative;
}

.photo_success {
	width:50%;
	height:50%;
	position: relative;
	left: 25%;/*
	top: 15px;*/
}

h3{
  text-align: center;
}

p{
  text-align : justify;
  display: inline-block;
}

.bloc_sections {
	display: inline-block;
}

#section_1, #section_2, #section_3, #section_4, #section_5, #section_6 {
	width: 16%;
	margin-top: 5px;
}

.bloc_section {
	display: inline-block;
}
/*
@media (max-width : 600px)  {
    .all_sections {
		white-space : pre-wrap;

	}
	#section_1, #section_2, #section_3, #section_4, #section_5, #section_6{
		width: 100%;
	}
}
