@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}

.body_success_story{
		font-family: 'gotham_book', serif;
}

.photo_alexandre,.photo_marie,.photo_thomas,.photo_alexis,.photo_hortense,.photo_vincent
{
  width:50%;
  height:50%;
}

h3{
  text-align: center;
}
p{
  text-align : justify;
}
.su_st_p {
	display: inline-block;
}

.su_st_1 {
	width: 16%;
}

.su_st_2 {
	width: 16%;
}

.su_st_3 {
	width: 16%;
}

.su_st_4 {
	width: 16%;
}

.su_st_5 {
	width: 16%;
}

.su_st_6 {
	width: 16%;
}
@media (max-width : 600px)  {
    .su_st_body {
		white-space : pre-wrap;

	}
	.su_st_1{
		width: 100%;
	}
	.su_st_2{
		width: 100%;
	}
	.su_st_3{
		width: 100%;
	}
	.su_st_4{
		width: 100%;
	}
	.su_st_5{
		width: 100%;
	}
	.su_st_6{
		width: 100%;
	}
}
