@font-face {
  font-family: 'gotham_book';
  src:url('fonts/Gotham-Book.otf');
}
/*
*{
	background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

.body_success_story{
		font-family: 'gotham_book', serif;
}

body {
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}

.paragraphe {
	border-right: 2px solid gray;
	padding-right: 2px;
}

#paragraphe_thomas {
	border-right: 0px solid gray !important;
}

.su_st_body {
	position: relative;
}

.photo_success {
	width:50%;
	height:50%;
	position: relative;
	left: 25%;/*
	top: 15px;*/
}

#photo_vincent {
	top: 4px;
}

#photo_marie {
	height: 45% !important;
	top: 4px;
}

h3{
  text-align: center;
}
p{
  text-align : justify;
}
.su_st_p {
	display: inline-block;
}

.su_st_1 {
	width: 16%;
}

.su_st_2 {
	width: 16%;
}

.su_st_3 {
	width: 16%;
}

.su_st_4 {
	width: 16%;
}

.su_st_5 {
	width: 16%;
}

.su_st_6 {
	width: 16%;
}
@media (max-width : 600px)  {
    .su_st_body {
		white-space : pre-wrap;

	}
	.su_st_1{
		width: 100%;
	}
	.su_st_2{
		width: 100%;
	}
	.su_st_3{
		width: 100%;
	}
	.su_st_4{
		width: 100%;
	}
	.su_st_5{
		width: 100%;
	}
	.su_st_6{
		width: 100%;
	}
}
